<%= form_for :task do |f| -%>
<div class="field">
	<%= f.label :title, "Thing to do" %>
	<%= f.text_field :title %>
</div>  
<div class="field">
	<%= f.label :content, "Description" %>
	<%= f.text_field :title %>
</div>
<%= f.submit "Add", :disable_with => 'Adding...' %>
<% end -%>