<h1>TO DO List</h1>
<% if @task.count == 0 %>
<p>Currently you do not have any tasks, create a <%= link_to "New Task", new_task_path %></p>
<% else %>
<ul>
	<% @task.each do |t| %>
	<li>
	<h2><%= t.title %></h2>
	<p><%= t.content %> - <%= link_to "Delete", "/tasks/#{t.id}", :method => 'DELETE' %> | <%= link_to "Edit", "/tasks/#{t.id}/edit" %></p>
	</li>
	<% end %>
<% end %>
</ul>
<%= link_to "Create new Task", new_task_path %>

	






